# ==========================================
# CONFIGURATION DU SERVEUR (TEMPLATE)
# ==========================================
# INSTRUCTIONS :
# 1. Copiez ce fichier et renommez-le en ".env"
# 2. Remplacez les valeurs ci-dessous par vos propres informations.

# URL du Webhook Discord pour recevoir les alertes
URL_DISCORD="https://discord.com/api/webhooks/1511516646345281567/Je_9UoAdLbRJZvc1xzwqycwS-DAD6HTRZ7A09RPUY-UoTuhEfXrivx604-dagNbEnzoi"

# Identifiants pour accéder au tableau de bord web
LOGIN="admin"
PASSWORD="admin123"

# Clé de sécurité partagée avec l'Arduino (Doit être identique sur les deux appareils)
SECRET_API_KEY="CLE_SECRETE_TRES_COMPLEXE_123!"