// ==========================================
// SECRETS ARDUINO (TEMPLATE)
// ==========================================
// INSTRUCTIONS :
// 1. Copiez ce fichier et renommez-le en "arduino_secrets.h"
// 2. Remplissez avec vos informations.
// ATTENTION : Ne commitez JAMAIS "arduino_secrets.h" sur GitHub !

// Identifiants de votre réseau Wi-Fi local
#define SECRET_SSID "NOM_DE_VOTRE_WIFI"
#define SECRET_PASS "MOT_DE_PASSE_WIFI"

// Clé API (Doit être STRICTEMENT identique à SECRET_API_KEY dans le fichier .env)
#define SECRET_API_KEY "CLE_SECRETE_TRES_COMPLEXE_123!"

// Adresse IP locale de votre serveur (ex: 192.168.2.91)
#define SERVER_ADDRESS "192.168.X.X"